/* Подключение шрифтов */
@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}


body {
    margin: 0;
    color: white;
}


/* Навбар */
header {
    z-index: 1;
    background: transparent;
    height: 100px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.scrolled {
    background-color: #020202;
}

.kp-wrapper {
    display: flex;
    margin: 0 15%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.kp-nav-block {
    display: flex;
}

.kp-logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.kp-brand-block {
    padding-right: 50px;
}

img {
    width: 125px;
}

.kp-navigation {
    display: flex;
    height: 100%;
}

.menu_item {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    height: 100%;
    text-decoration: none;
    align-items: center;
    color: #888;
    letter-spacing: 0.03em;
}


.menu_item:hover {
    color: white;
}

li {
    list-style: none;
    padding-right: 30px;
}


.registration-block {
    align-items: center;
    display: flex;
    margin: 0;
}

.registration-block a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 800;
}

.enter {
    color: white;
}

.registration {
    color: #e27b36;
}



/* Остальные эллементы */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#submitButton {
    display: none;
}

.username-profile-link {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: aliceblue;
    font-weight: 700;
}

.username-profile-link:hover {
    color: rgb(115, 112, 109);
}

.button-container {
    text-align: center;
    margin-top: 10px;
}


.logout-link:hover {
    color: red;
}

.main-header {
    width: 50%;
    margin: 0 auto;
    padding-top: 3rem;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.title-container>h1 {
    display: inline-block;
    width: 100%;
}

.nickname {
    text-decoration: none;
    color:#e27b36;
    
}

.text-decoration-none {
    color: rgba(255, 255, 255, 0.666);
}

.nickname:hover {
    color: #c8601a;
}

.group-block {
    width: 80%;
    margin-left: 10%;
    background-color: transparent;
}

.list-item {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    display: block;
    border: 1.5px solid #dbd9d9;
}

.list-item>div {
    padding: 20px;
}

.list-item h2 {
    margin-bottom: 0;
}

.list-item p {
    padding-left: 20px;
}

.list-item:hover {
    z-index: 2;
    background-color: rgb(81, 81, 81);
}

.list-item span {
    margin-right: 6rem;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #868686;
    text-align: center;
    line-height: 30px;
}

.create-group {
    width: 60%;
    margin: 0 auto;
}

.active  {
    color: rgba(179, 154, 15, 0.984);
}

.active:hover {
    color: rgba(179, 154, 15, 0.984);
}

.btn.btn-warning {
    color: white;
    font-size: 20px;
}

.btn.btn-danger {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.comment-form {
    padding-top: 5rem;
    width: 50%;
}

.post-create {
    height: 5rem;
}

label {
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 600;
}

.post-block {
    padding-top: 2rem;
    z-index: 2;
}

.author-text {
    z-index: 2;
    color: #e27b36;
    text-decoration: none;
}

.group-text {
    z-index: 2;
    text-decoration: none;
}

hr {
    position: relative;
    margin: 30px 0;
    border: dotted white;
    border-width: 10px;
    border-bottom: none;
    width: 40%;
    color: white;   
}

h4 {
    font-style: italic;
}

.button-but {
    margin: 0 5px;
}


