{% extends 'base.html' %}
{% load static %}

{% block title %}Группы{% endblock %}

{% block content %}
<div style="display: flex;" class="content-container">
    <div class="title-container">
        <h1 style="padding-bottom: 2rem;">Привет <a class="nickname" href="{% url 'user_profile' username=request.user %}">@{{ request.user}}</a></h1>




        <a href="{% url 'group_create' %}" class="btn btn-outline-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle"
                viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z">
                </path>
            </svg>
            Добавить группу
        </a>
    </div>
    <div class="group-block">
        {% for i in group_list %}
        <a class="list-item" href="{% url 'group_detail' slug=i.slug %}">
            <div>
                <h2>{{ i.title }}</h2>
                <p>{{ i.description }}</p>
                <span><strong class="circle">{{ i.members.count }}</strong> пользователей</span>
                <span><strong class="circle">{{ i.posts.count }}</strong> постов</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}