{% extends 'base.html' %}
{% load static %}

{% block title %}Группы{% endblock %}

{% block content %}
<div class="content-container">
    <h2 style="padding-bottom: 2rem;">Публикации:</h2>
    <div style="padding-left: 2rem;">
        <hr>
        {% for i in posts %}
        <h4 class="post-text">{{ i.text }}</h4>
        <p><a class="author-text" href="{% url 'user_profile' username=i.author %}">{{ i.author }}</a> <span> {{ i.date }} в группе</span> <a class="group-text"
                href="{% url 'group_detail' slug=i.group.slug %}"> {{ i.group.title }}</a></p>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}